/* * {
    border: 1px solid gray;
} */

.vh-100 {
    min-height: 100vh;
}

div#favourite-songs {
    background: linear-gradient(45deg, black, darkgreen);
}

h1#songs-title {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

div#song-list {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img.song-tile {
    object-fit: contain;
    min-height: 250px;
    min-width: 250px;
    width: 250px;
    height: 250px;
    opacity: 0.4;
    margin-left: 25px;
    margin-right: 25px;
}

img.song-tile:first-child {
    margin-left: calc((100vw - 250px) / 2);
}

img.song-tile:last-child {
    margin-right: calc((100vw - 250px) / 2);
}

img.song-tile.active {
    opacity: 1;
}

div.arrow {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    font-size: 30px;
}

div.arrow.left {
    left: 5%;
}

div.arrow.right {
    right: 5%;
}

div.arrow#play-pause {
    left: 50%;
    transform: translateX(-50%);
}

div#song-details {
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

div#song-details>h1, div#song-details>span {
    font-weight: 300;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.first-section {
    background: linear-gradient(315deg, white, black);
}

.wish-start>* {
    font-weight: 100;
}

.wish-container>h3 {
    font-weight: 100;
}

.wisher-personal-story {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.45;
    color: #383838;
}

.wisher-personal-story:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

img.wisher-photo {
    bottom: -10%;
    filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
    h1#songs-title {
        top: 25%;
    }
    div.arrow.left {
        left: 20%;
    }
    div.arrow.right {
        right: 20%;
    }
    div#song-details {
        bottom: 25%;
    }
    .wisher-personal-story:before {
        font-size: 150px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    img.wisher-photo {
        bottom: -10% !important;
        opacity: 1 !important;
    }
    div.wish-wrap:before {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    h1#songs-title {
        top: 20%;
    }
    div.arrow.left {
        left: 30%;
    }
    div.arrow.right {
        right: 30%;
    }
    div#song-details {
        bottom: 20%;
    }
    div.wish-wrap:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-position: 150% 0;
        background-size: contain;
        background-attachment: fixed;
    }
    div.wish-wrap#utkarsh:before {
        background-image: url('https://dsm01pap002files.storage.live.com/y4m3sCjXQX284V5ub72Ou9ypN0M4aIXfMW5KZ8aAhPE2hRqYRFs219wLud7oN2WEjm_vsbA-r3Ck-7gfHamzm2zDZ1zcC_I5mMiSpmo7VosNlNHBQ1VTZ8_UJUnCk4I5aMYkSNZ739OH8N0_JwnM0UPapAEROi5EmxNJyI394WCOFJdjdwrHu3NlEVxyiEgwSCe?width=2316&height=2319&cropmode=none');
    }
}

@media screen and (min-width: 1024px) {
    div.wish-wrap:before {
        background-position: 100% 0%;
    }
}