* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body>div {
    min-height: 100vh;
}

h1, h1 span.wrap {
    font-size: 25px
}

p, span {
    font-size: 17px;
}

p {
    font-style: italic;
    text-align: center;
}

.typeWriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

#myBtn {
    color: cadetblue;
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: absolute;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p {
    margin-bottom: 30px;
}

p.modal-footer {
    color: cadetblue;
    margin-top: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal div {
    height: unset;
}

.downArrowFirstPage {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: unset;
}

.downArrowFirstPage span {
    font-size: 60px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.strikeThrough {
    text-decoration: line-through;
}

.dk_effect {
    background-image: url('./images/dk_effect_960w_640h.jpg');
    background-repeat: repeat;
    background-position: initial;
    /* background-attachment: fixed; */
    background-size: 200px 150px;
    /* background-color: black; */
}

.whyyoulikethis {
    background-image: url('./images/whyyoulikethis.png');
    background-repeat: repeat;
    background-position: initial;
    /* background-attachment: fixed; */
    background-size: 200px 150px;
}

span.dk_effect {
    background-image: none;
    color: white;
    background-color: black;
}

.mindfulMeme pre {
    background-color: lavender;
    border-radius: .9em;
    /* flex: 1; */
}

.mindfulMeme div {
    height: unset;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
    width: 100%;
}

div.mindfulMeme.gridMind {
    display: none;
}

.mindfulMeme div.hobbyist {
    background-image: url('./images/hobbyist.png');
}

.mindfulMeme div.expertDev {
    background-image: url('./images/expertDev.png');
}

.mindfulMeme div.vandiDev {
    background-image: url('./images/vanditaDev.png');
}

.mindfulMeme div.flex.vandiDev span, .mindfulMeme div.flex.expertDev span, .mindfulMeme div.flex.hobbyist span {
    color: white;
    background-color: black;
}

@media screen and (min-width: 641px) {
    div.mindfulMeme.gridMind {
        display: grid;
    }
    .mindfulMeme {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: auto 10%;
    }
    div.mindfulMeme.flexMind {
        display: none;
    }
    .dk_effect {
        background-size: 400px 300px;
    }
    .whyyoulikethis {
        background-size: 400px 300px;
    }
}

p.tphtsfy {
    margin-bottom: 30px;
}

/* Slideshow container */

.slideshow-container {
    max-width: 800px;
    position: relative;
    /* margin: auto; */
    height: auto;
}

.slideshow-container div {
    height: unset;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Caption text */

.text {
    color: #000;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #000;
    font-size: 12px;
    text-align: center;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.quote {
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    color: gray;
    border-bottom: lightgray 2px solid;
}

.quote::before {
    content: '- ';
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

p.capitalize {
    text-transform: uppercase;
}

.photoContainer>h1 {
    margin-bottom: 55px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.photos>div.flexColumn {
    justify-content: flex-start !important;
    /* align-items: flex-start !important; */
}

.photos img {
    width: 32vw;
    box-sizing: border-box;
    margin: 5px;
    box-shadow: 2px 2px 4px gray;
}