h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.vh-100 {
    height: 100vh;
}

#open-personal-message {
    top: 10px;
    left: 10px;
    z-index: 1;
}

#open-personal-message>i {
    font-size: 20px;
    color: black;
}

#personal-message {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

#personal-message>h2, #personal-message>p {
    background-color: black;
    color: white;
}

#personal-message>h2 {
    font-weight: bold;
    margin-bottom: 2em;
}

#personal-message>p {
    margin-bottom: .1em;
}

.parallax-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    scroll-snap-align: start;
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

@media screen and (min-width: 768px) {
    .parallax {
        justify-content: center;
        align-items: flex-start;
        padding-left: 3em;
        padding-top: 0;
        padding-right: 0;
    }
}

.parallax>span {
    background-color: black;
    color: white;
}

.parallax>span.heading {
    font-size: 30px;
    margin-bottom: 0.3em;
}

.mussoorie {
    background-image: url('https://ik.imagekit.io/bizwem110d/gift-by/bad-luck/mussoorie_VAJ6CytiSXp.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643426247728');
}

.farewell-1 {
    background-image: url('https://ik.imagekit.io/bizwem110d/gift-by/bad-luck/farewell_aeHEs_aJ1H.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643426248401');
}

.farewell-2 {
    background-image: url('https://ik.imagekit.io/bizwem110d/gift-by/bad-luck/farewell_1_R4D_ybzgbknD.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643426248022');
}

.dehradun {
    background-image: url('https://ik.imagekit.io/bizwem110d/gift-by/bad-luck/white_house_DqD1OH_hN.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643426248111');
}

.your-budday {
    background-image: url('https://ik.imagekit.io/bizwem110d/gift-by/bad-luck/your_budday_aoNitmN1q8.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643426248218');
}

.bachha {
    background-image: url('https://ik.imagekit.io/bizwem110d/gift-by/bad-luck/bachha_t378jdPxV.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1643426248014');
}

div#happy-budday {
    background: white;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-attachment: fixed;
}

div#budday-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(50deg, #5e00be, #f7ad29);
    z-index: -1;
}

div#happy-budday>div.word>h2 {
    font-size: 70px;
    font-weight: 500;
}

div#happy-budday>div.word>h2:nth-child(2n) {
    padding-top: 15px;
}

div#happy-budday>div.word>h2:nth-child(2n - 1) {
    padding-bottom: 15px;
}

footer {
    background-color: lightgray;
    color: black;
}

footer>span {
    color: darkred;
}

@media screen and (min-width: 768px) {
    div#happy-budday>div.word>h2 {
        font-size: 80px;
        font-weight: 400;
    }

    div#happy-budday>div.word>h2:nth-child(2n) {
        padding-top: 20px;
    }

    div#happy-budday>div.word>h2:nth-child(2n - 1) {
        padding-bottom: 20px;
    }
}